/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 20px 0;
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  input[type="text"], input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  /* Specific Styles */
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  table td:first-child {
    font-weight: bold;
  }
  
  table td:last-child {
    font-weight: bold;
    color: #4CAF50;
  }
  
  table button {
    background-color: #ff5722;
  }
  
  table button:hover {
    background-color: #f44336;
  }
  
  #total-items-remaining {
    font-weight: bold;
    color: #4CAF50;
  }
  
  #profit-earned {
    font-weight: bold;
    color: #4CAF50;
  }
  
  form {
    width: 50%;
    margin: auto;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form button[type="submit"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-error {
    display: block;
    color: #f44336;
    margin-bottom: 10px;
  }
  
  .form-success {
    display: block;
    color: #4CAF50;
    margin: 1em 0 2em;
    border: 1px solid #4CAF50;
    padding: 1em;
    border-radius: 4px;
    background-color: #E9F5E3;
  }
  